.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
    background-color: #E8E8E8;
    font-family: 'Bungee Shade', cursive;
}
.contactName {
    margin: 20px;
    color: #564256;
}

#editDelete{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 80%;
    height: 50%;
}

.edDel {
    font-size: 20px;
}