.contactList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8E8E8;
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: repeat; 
}

.contactCard {
    display: flex;
   padding: 20px;
   margin: 30px;
   border: solid 4px #564256;
   justify-content: center;
   color: #564256;

}

.h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
