#messages {
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #564256;
    font-size: 15px;

}

#messageTitle{

    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    color: #564256;
    margin: 10px;

}

.add{
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 17px;
}

.oneMessage{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#titleBox{
    display: flex;
    align-items: center;
    flex-direction: column;


}

.msgCard{
    border: 3px solid #564256;
    margin: 5px;
    flex-basis: 51%;
}

.cards{
    border: 2px solid #564256;
    margin: 15px;
    display: flex;
    flex-basis: 48%;
}

.buttonGroup {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#messageBody{
        
}

.messages{
    background-color: #E8E8E8;
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
}